{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}
{%block header%}
<div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">{{object.title}}</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">投稿者：{{object.user}}</p>
            <a class="btn btn-primary btn-xl" href="#about">掲示板を見る</a>
            <a class="btn btn-primary btn-xl" href={%url 'gamelog:post'%}>投稿する</a>
        </div>
    </div>
</div>
{%endblock header%}
    {% block contents %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col offset-3">
                <p>{{object.content}}</p>
            <br>
            <p>{{object.posted_at}}に投稿</p>
            <p><img src="{{object.image1.url}}"
                class="bd-placeholder-image card-img-top"
                preserveAspectRatio="xMidYMid slice"></img></p>
            {% if request.user == object.user %}
            <form method="POST">
                <a href="{% url 'gamelog:game_delete' object.pk %}"
                    class="btn btn-primary my-2">削除する</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}